In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

LOADING IN OUR DATA

In [36]:
food=pd.read_csv('food_coded.csv')

In [37]:
food

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [38]:
food.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [39]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [40]:
food.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [41]:
#filling the missing values with mean
food
food['calories_day'].fillna(food ['calories_day'].mean(),inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_14288\419616434.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  food['calories_day'].fillna(food ['calories_day'].mean(),inplace=True)

In [42]:
food['calories_day']

0      3.028302
1      3.000000
2      4.000000
3      3.000000
4      2.000000
         ...
120    4.000000
121    2.000000
122    3.028302
123    4.000000
124    3.028302
Name: calories_day, Length: 125, dtype: float64

In [43]:
food.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day         0
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [44]:
food['type_sports']=food['type_sports'].fillna(food['type_sports'].mode()[0])

In [45]:
food['type_sports']

0       car racing
1      Basketball
2             none
3             none
4         Softball
          ...
120       Softball
121    basketball
122           none
123           none
124           none
Name: type_sports, Length: 125, dtype: object

In [46]:
food.isnull().sum()

GPA                 2
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              2
Length: 61, dtype: int64

In [47]:
food.drop('GPA', axis=1, inplace=True)

In [48]:
food.head()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2,1,430,3.028302,315.0,1,none,we dont have comfort,9.0,2.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,1,1,610,3.000000,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,3.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,1,1,720,4.000000,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,1,1,430,3.000000,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,2.0,...,1.0,2.0,5,725.0,690,none,3,1,1315,"Not sure, 240"
4,1,1,720,2.000000,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [50]:
#using the code below to drop the cloumn not useful
food.drop(columns=['comfort_food_reasons','eating_changes','life_rewarding','meals_dinner_friend'],inplace=True )

In [51]:
#To check if those columns have been drop
food.head()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2,1,430,3.028302,315.0,1,none,9.0,2.0,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,1,1,610,3.000000,420.0,2,"chocolate, chips, ice cream",1.0,3.0,1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,1,1,720,4.000000,420.0,2,"frozen yogurt, pizza, fast food",1.0,1.0,1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,1,1,430,3.000000,420.0,2,"Pizza, Mac and cheese, ice cream",2.0,2.0,2,...,1.0,2.0,5,725.0,690,none,3,1,1315,"Not sure, 240"
4,1,1,720,2.000000,420.0,2,"Ice cream, chocolate, chips",1.0,1.0,1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [52]:
#to check for the shape
food.shape

(125, 56)

In [53]:
#checking for duplicates
food.drop_duplicates(inplace=True)

In [55]:
#filling missing values with mean
food['comfort_food_reasons_coded'].fillna (food['comfort_food_reasons_coded'].mean(),inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_14288\1075025210.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  food['comfort_food_reasons_coded'].fillna (food['comfort_food_reasons_coded'].mean(),inplace=True)

In [56]:
#fill all the missing values in numerical columns with their median
numerical_cols=food.select_dtypes(include=['number']).columns
food[numerical_cols]=food[numerical_cols].fillna (food[numerical_cols].median())

In [57]:
#fill all the missinig values in categorical columns with the most common value (mode)
categorical_cols=food.select_dtypes(include=['number']).columns
food[categorical_cols]=food[categorical_cols].fillna (food[categorical_cols].mode().iloc[0])

In [62]:
#to remove outliers using IQR method for all numerical columns
def remove_outliers_iqr(df):
    numeric_cols=df.select_dtype(include=['float64','int64']).columns
    for col in numeric_cols:
        Q1=df[col].quantile(0.25)
        Q3=df[col].quantile(0.75)
        IQR= (Q3-Q1)
        lower_bound=Q1-1.5*IQR
        upper_bound=Q3+1.5*IQR
        #keeping only new
        df=df[(df[col]>=lower_bound)] & (df[col]<=upper_bound)
        return df #return the modified dataframe
    # applying the function above to my dtaframe
    food_cleaned=remove_outliers_iqr(food)
    #to check results
    print('shape after removing outliers',food_cleaned.shape)

In [63]:
food.shape

(125, 56)

ENCODING CATEGORICAL DATA INTO NUMERICAL FORM

In [65]:
from sklearn.preprocessing import LabelEncoder
#initialize labelEncoder
Label_Encoder= LabelEncoder()
#select categorical columns
categorical_cols=food.select_dtypes(include=['object']).columns
#Apply label encoding to each categorical columns
for col in categorical_cols:
    food[col]=Label_Encoder.fit_transform(food[col])
    
    food.head()

In [66]:
food.head()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2,1,430,3.028302,315.0,1,110,9.0,2.0,9,...,1.0,1.0,1,1165.0,345,39,5,1,1315,34
1,1,1,610,3.000000,420.0,2,83,1.0,3.0,1,...,1.0,1.0,2,725.0,690,1,4,2,900,22
2,1,1,720,4.000000,420.0,2,98,1.0,1.0,1,...,1.0,2.0,5,1165.0,500,49,5,1,900,45
3,1,1,430,3.000000,420.0,2,59,2.0,2.0,2,...,1.0,2.0,5,725.0,690,49,3,1,1315,46
4,1,1,720,2.000000,420.0,2,34,1.0,1.0,1,...,1.0,1.0,4,940.0,500,27,4,2,760,35

NORMALIZATION  (MIN-MAX SCALING)

In [67]:
from sklearn.preprocessing import MinMaxScaler
#select numerical columns
numerical_cols=food.select_dtypes(include=['float64', 'int64']).columns
#Apply normalization
scaler=MinMaxScaler()
food[numerical_cols]=scaler.fit_transform(food[numerical_cols])

In [68]:
food.head()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,1.0,0.0,0.362637,0.514151,0.000000,0.0,0.887097,1.000,0.25,1.000,...,0.0,0.0,0.00,1.000000,0.000000,0.600000,1.00,0.0,1.000000,0.723404
1,0.0,0.0,0.758242,0.500000,0.157895,1.0,0.669355,0.000,0.50,0.000,...,0.0,0.0,0.25,0.247863,0.683168,0.015385,0.75,1.0,0.439189,0.468085
2,0.0,0.0,1.000000,1.000000,0.157895,1.0,0.790323,0.000,0.00,0.000,...,0.0,1.0,1.00,1.000000,0.306931,0.753846,1.00,0.0,0.439189,0.957447
3,0.0,0.0,0.362637,0.500000,0.157895,1.0,0.475806,0.125,0.25,0.125,...,0.0,1.0,1.00,0.247863,0.683168,0.753846,0.50,0.0,1.000000,0.978723
4,0.0,0.0,1.000000,0.000000,0.157895,1.0,0.274194,0.000,0.00,0.000,...,0.0,0.0,0.75,0.615385,0.306931,0.415385,0.75,1.0,0.250000,0.744681

TRAIN TEST SPLIT

In [69]:
from sklearn.model_selection import train_test_split
#Define the features andtreat (predicting diet)
x=food.drop(columns=['weight']) # features
y=food['weight'] # target variable
#split data (80% training, 20% testing)
X_train, X_test , y_train, y_test =train_test_split (x,y, test_size=0.2, random_state=42)
print(f'training set size: {X_train.shape[0]}')
print(f'testing set size: {X_test.shape[0]}')

training set size: 100
testing set size: 25